<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/test.css">
    <title>デモページ</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col offset-1 pt-5">
          <!-- *** ここから更新フォームです *** -->
          <form id="company-info">
            <div class="row">
              <h3 class="col-2">企業情報</h3>
              <div class="col-10">
                <!-- *** ボタンやメッセージです *** -->
                <button type="button" class="btn btn-primary" v-if="!isEdit" @click="edit">編集</button>
                <button type="button" class="btn btn-danger" v-if="isEdit" v-bind:disabled="noChange" data-toggle="modal" data-target="#companyModal">更新</button>
                <button type="button" class="btn btn-secondary" v-if="isEdit" @click="cancel">キャンセル</button>
                <transition name="fade">
                  <span class="alert alert-success" v-if="updated">更新しました。</span>
                </transition>
                <span class="alert alert-danger" v-if="hasError && isEdit">入力エラーがあります。</span>
              </div>
            </div>

            <div class="row pt-3">
              <div class="col-5">
                <div class="form-contents striped-form-row">
                  <!-- *** データのテキスト表示やinputフォームです *** -->
                  <div class="form-row">
                    <div class="col-3">
                      <label for="companyName" class="col-form-label">企業名</label>
                    </div>
                    <div class="col-9">
                      <span v-if="!isEdit">{{ companyInfo.companyName }}</span>
                      <input type="text" id="companyName" name="companyName" v-if="isEdit" v-model="companyInfo.companyName" class="form-control" :class="{'is-invalid': errors.companyName}">
                      <div class="invalid-feedback" v-if="errors.companyName">{{ errors.companyName }}</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-3">
                      <label for="companyNameKana" class="col-form-label">企業名カナ</label>
                    </div>
                    <div class="col-9">
                      <span v-if="!isEdit">{{ companyInfo.companyNameKana }}</span>
                      <input type="text" id="companyNameKana" name="companyNameKana" v-if="isEdit" v-model="companyInfo.companyNameKana" class="form-control" :class="{'is-invalid': errors.companyNameKana}">
                      <div class="invalid-feedback" v-if="errors.companyNameKana">{{ errors.companyNameKana }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- *** ここから差分表示のモーダルです *** -->
            <div class="modal" id="companyModal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">以下の項目を更新します</h4>
                    <button type="button" class="close" data-dismiss="modal">
                       ×
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row" v-for="change in changes">
                      <div class="col-3">{{ change.label }}</div>
                      <div class="col-9">{{ change.value }}</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="update" data-dismiss="modal">更新</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.onload = function() {
        // *** テスト用のコード開始 ***
        const companyRepository = {
          companyName: '株式会社ラクーン',
          companyNameKana: 'カブシキガイシャラクーン'
        };
        function getCompanyInfo() {
          return Object.assign({}, companyRepository);
        }
        function updateCompanyInfo(companyInfo) {
          const res = { status: 'OK', errors: {}};
          if (companyInfo.companyName.length > 50) {
            res.status = 'NG';
            res.errors.companyName = '50文字以内で入力してください';
          }
          if (companyInfo.companyNameKana.length > 100) {
            res.status = 'NG';
            res.errors.companyNameKana = '100文字以内で入力してください';
          }
          if (res.status == 'OK') {
            Object.assign(companyRepository, companyInfo);
          }
          return res;
        }
        // *** テスト用コードの終了 ***
        // *** Vueインスタンスを作成します。 ***
        const companyInfoVm = new Vue({
          el: '#company-info',
          data: {
            companyInfo: getCompanyInfo(), // テスト用のコードからjsonが返されます。
            isEdit: true,
            updated: false,
            errors: {}
          },
          computed: {
            hasError: function() {
                return Object.keys(this.errors).length > 0;
            },
            changes: function() {
              const changes = [];
              const orig = getCompanyInfo();
              const dest = this.companyInfo;
              Object.keys(orig).forEach(function(key) {
                if (orig[key] != dest[key]) {
                  changes.push({name: key, label: $(`label[for='${key}']`).text(), orig: orig[key], value: dest[key]});
                }
              });
              return changes;
            },
            noChange: function() {
              // 何か情報がオリジナルと変わったときだけ、更新ボタンをアクティブにします。
              return !(this.isEdit && this.changes.length > 0);
            }
          },
          methods: {
            edit: function() {
              this.companyInfo = Object.assign({}, getCompanyInfo()); // 更新直前に情報を取り直します。
              this.isEdit = true;
              this.updated = false;
              this.errors = {};
            },
            update: function() {
              let res = updateCompanyInfo(this.companyInfo); // テスト用のコードからjsonが返されます。
              if (res.status == 'OK') {
                this.isEdit = false;
                this.updated = true;
                setTimeout(() => {this.updated = false;}, 5000); // 5秒後に「更新しました。」メッセージを消します。
              } else {
                this.errors = res.errors;
              }
            },
            cancel: function() {
              this.isEdit = false;
              this.companyInfo = getCompanyInfo(); // 更新をキャンセルした場合は情報をオリジナルに戻します。
            }
          }
        });
      };
    </script>
  </body>
</html>

